@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

body {
  font-family: "Orbitron", sans-serif;
  background-color: #0a0a0a;
  color: #e0e0e0;
  text-align: center;
  padding: 20px;
}

header {
  background: linear-gradient(45deg, #0a0a0a, #1c1c1c);
  padding: 20px;
  border-radius: 10px;
  color: #59da75;
  text-shadow: 2px 2px 5px #057161;
  box-shadow: 0 0 10px #057161;
}

h1,
h2 {
  text-shadow: 2px 2px 10px #057161;
}

#officers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.officer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(135deg, #0a0a0a, #262626);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px #057161;
  width: 60%;
  transition: transform 0.3s ease-in-out;
}

.officer:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #057161;
}

.officer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #057161;
}

.info h3 {
  color: #057161;
  margin: 5px 0;
}

.info p {
  font-size: 16px;
}

footer {
  background-color: #262626;
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
}

#calendar {
  padding-bottom: 50px;
}
