@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

body {
  font-family: "Orbitron", sans-serif;
  background-color: #0a0a0a;
  color: #e0e0e0;
  text-align: center;
  padding: 2rem;
}

header {
  background: linear-gradient(45deg, #0a0a0a, #1c1c1c);
  padding: 2rem;
  border-radius: 1rem;
  color: #59da75;
  text-shadow: 0.2rem 0.2rem 0.5rem #057161;
  box-shadow: 0 0 1rem #057161;
}

h1,
h2 {
  text-shadow: 0.2rem 0.2rem 1rem #057161;
}

#officers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.officer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  background: linear-gradient(135deg, #0a0a0a, #262626);
  padding: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 2vh;
  box-shadow: 0 0 2rem #057161;
  width: 60vw;
  transition: transform 0.3s ease-in-out;
  border-bottom: 0.1rem solid #ddd;
}

.officer:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3rem #057161;
}

.officer img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: 0.2rem solid #057161;
  object-fit: cover;
  position: relative;
  left: 6vw;
}

.info h3 {
  color: #057161;
  margin: 0.5em 0;
}

.info p {
  font-size: 1.2rem;
}

footer {
  background-color: #262626;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2vh;
}

#about {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#calendar {
  padding-bottom: 5vh;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: #333;
}

nav ul li {
  margin: 0 1vw;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 1vh 1vw;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #555;
}

.info {
  flex: 1;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.news-card {
  width: 20vw;
  border: 0.1rem solid #ddd;
  box-shadow: 0px 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0.8rem;
}

.news-card img {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.news-content {
  padding: 1rem;
}

.news-content h3 {
  margin: 0;
  font-size: 1.5rem;
}

.news-content .date {
  font-size: 1rem;
  color: gray;
  margin: 0.5rem 0;
}

.news-content a {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.news-content a:hover {
  text-decoration: underline;
}

#blog {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.links a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.links img {
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  object-fit: contain;
}
